<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
   <h1>Page Updated</h1>
   <a href="/">Home Page</a>
   <a href="/addjob">Add Job Experience</a>
    <a href="/project">Add Project Experience</a>
</body>
</html>