<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="/public/styles/home.css"> 
</head>
<body>
    <div class="container">
        <h1 class="page-title">Page Updated</h1>
        <div class="post-entry">
            <a href="/" class="link-button">Home Page</a>
        </div>
        <div class="post-entry">
            <a href="/addjob" class="link-button">Add Job Experience</a>
        </div>
        <div class="post-entry">
            <a href="/project" class="link-button">Add Project Experience</a>
        </div>
    </div>
</body>
</html>
