<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Portfolio page</h1> 
    <p>This is Jameson Farmer's personal portfilio showcasing job and project experience!</p>
    <a href="/addjob">Add Job Experience</a>
    <a href="/project">Add Project Experience</a>
</body>
</html>